* {
  box-sizing: border-box;
}

body {
  background-color: $grey-back;
  margin: 0;
  padding: 0;
}

.container-fluid {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.text-upper {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.flex-start {
  justify-content: flex-start;
}

.flex-center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.flex-between {
  justify-content: space-between;
}

.flex-around {
  justify-content: space-around;
}

.flex-start-align {
  align-items: flex-start;
}

.flex-center-align {
  align-items: center;
}

.flex-end-align {
  align-items:  flex-end;
}

.flex-content-start {
  align-content: flex-start;
}

.flex-content-center {
  align-content: center;
}

.flex-content-end {
  align-content: flex-end;
}

.hidden {
  visibility: hidden;
}

.color-yellow {
  color: $yellow-dirty;
}

.color-white {
  color: $white;
}

.first {
  background-image: url("../images/jumbotron.png");

  &>div {
    background-color: $black;
  }

  nav {
    height: 100px;

    &>div {
      padding-left: 12px;
    }

    ul {
      font-family: $font-montserrat-bold;
      font-size: $font-size-13;
      margin: 0;

      .main {
        display: flex;
        text-transform: uppercase;
        position: relative;
        align-items: center;
        height: 100%;

        &:hover {
          .vertical-menu {
            transform: scaleY(1);
          }
        }

        a {
          color: $white;
          text-decoration: none;
          height: inherit;
          display: flex;
          align-items: center;
        }

        p {
          margin: 0 11px;
        }

        .vertical-menu {
          display: block;
          position: absolute;
          background-color: $black;
          top: 100px;
          left: 0;
          padding: 0;
          width: 100%;
          list-style: none;
          text-align: center;
          transform-origin: 50% 0;
          transform: scaleY(0);
          transition: transform .1s;

          li {
            padding: 10px 0;
            position: relative;

            a {
              justify-content: center;
            }

            a:hover {
              color: $yellow-dirty;
            }
          }
        }

        &:hover {
          &::after {
            visibility: visible;
          }
        }

        &::after {
          position: absolute;
          content: "";
          height: 6px;
          background-color: $yellow-dirty;
          width: 100%;
          bottom: 0;
          visibility: hidden;
        }
      }
    }
  }

  .hero {
    font-family: $font-montserrat-bold;
    background: none;

    h1 {
      font-size: $font-size-72;
      margin: 0;
      line-height: .95;

      &:first-child {
        margin-top: 233px;
      }
    }

    h4 {
      font-family: $font-montserrat-semibold;
      font-size: $font-size-24;
      margin: 17px 0 0;
    }

    button {
      margin: 45px 0 245px;
    }
  }
}

.second {
  background-color: $white;
  position: relative;

  p {
    font-family: $font-montserrat-light;
    font-size: $font-size-14;
    line-height: 1.8;
    padding: 32px 10px 17px 0;
  }

  button {
    margin-bottom: 146px;
  }

  img {
    object-fit: none;
    padding-bottom: 30px;
  }

  .phone {
    position: absolute;
    right: 80px;
    top: -33px;
    cursor: pointer;
    opacity: .6;
  }
}

.third {
  //height: 415px;
  background-color: $black;
}

@media(max-width: 767px) {
  @include grid("sm");
}

@media(min-width: 768px) {
  @include grid("md");
}

@media(min-width: 992px) {
  @include grid("lg");
}

@media(min-width: 1200px) {
  @include grid("xl");
}