/* Colors */
$white: #fff;
$black: #000;
$yellow-dirty: #b88b58;
$grey-back: #282828;
$grey-text: #aeaeae;

/* Font sizes */
$font-size-12: 12px;
$font-size-13: 13px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-26: 26px;
$font-size-30: 30px;
$font-size-72: 72px;

/* Fonts */
@import "../fonts/Montserrat-Bold.ttf";
@import "../fonts/montserrat_semibold.ttf";
@import "../fonts/montserrat_light.ttf";

$font-montserrat-bold: "Montserrat-Bold", arial;
$font-montserrat-semibold: "montserrat_semibold", arial;
$font-montserrat-light: "montserrat_light", arial;