/* Colors */
$white: #fff;
$white-dirty: #f7f7f7;
$black: #000;
$yellow-dirty: #b88b58;
$grey-back: #282828;
$grey-text: #aeaeae;
$grey-back-menu: #ededed;
$grey-icon: #bebebe;
$grey-price: #242424;
$grey-position: #7e7e7e;
$grey-button: #373737;
$grey-line: #d5d5d5;
$blue-twitter: #34c5f0;
$blue-linkedin: #127cb4;
$blue-facebook: #336297;
$orange-google-plus: #e74237;
$red-pinterest: #b71c29;

/* Font sizes */
$font-size-10: 10px;
$font-size-11: 11px;
$font-size-12: 12px;
$font-size-13: 13px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-21: 21px;
$font-size-24: 24px;
$font-size-26: 26px;
$font-size-30: 30px;
$font-size-48: 48px;
$font-size-72: 72px;

/* Fonts */
@import "../fonts/Montserrat-Bold.ttf";
@import "../fonts/montserrat_semibold.ttf";
@import "../fonts/montserrat_light.ttf";
@import "../fonts/Montserrat-Regular.ttf";

$font-montserrat-bold: "Montserrat-Bold", arial;
$font-montserrat-semibold: "montserrat_semibold", arial;
$font-montserrat-light: "montserrat_light", arial;
$font-montserrat-regular: "Montserrat-Regular", arial;