.component__box-worker {
  background-color: $white;
  width: 350px;

  img {
    object-fit: none;
    margin: 48px 0 45px;
  }

  h4 {
    font-family: $font-montserrat-regular;
    font-size: $font-size-21;
    margin: 0;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
  }

  p {
    font-family: $font-montserrat-light;
    font-size: $font-size-14;
    margin: 9px 0 40px;
    width: 100%;
    text-align: center;
  }

  .icons {
    width: 270px;
    margin-bottom: 44px;

    .icon-btn {
      margin: 0;
      width: 33px;
      height: 33px;
      background-color: $grey-icon;
      border-radius: 50%;
      position: relative;
      cursor: pointer;
      font-size: 20px;
      transition-duration: .5s;

      .fa {
        height: 33px;
        width: 33px;
        left: -1px;
        top: 6px;
        position: absolute;
        color: $white;

        &.punto {
          top: 0;
        }
      }

      &.icon-btn:hover {
        background-color: $yellow-dirty;
      }
    }
  }
}