.component__title {
  font-family: "montserrat_semibold", arial;

  h3 {
    font-size: 30px;
    margin: 0;
    padding: 54px 0 12px;
  }

  h6 {
    color: #aeaeae;
    font-size: 14px;
    margin: 0;
  }
}